.Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  position: fixed;
  box-sizing: border-box;
  right: 0;
  left: 0;
  top: 0;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 22px;
  background-color: #f50057;
}

.TextField {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 300px;
  width: 600px;
}
